# The directory Mix will write compiled artifacts to.
/Server/_build
/Client/_build

# If you run "mix test --cover", coverage assets end up here.
/Server/cover
/Client/cover

# The directory Mix downloads your dependencies sources to.
/Server/deps
/Client/deps

# Where 3rd-party dependencies like ExDoc output generated docs.
/Server/doc
/Client/doc

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez
